body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18pt;
}

h1, h3 {font-family: 'Lobster', cursive;}

#contact {font-family: 'Lobster', cursive; }
#contact a:link, a:visited {	text-decoration: none;}
#contact * {font-size: 25pt; font-weight: lighter;}

h1 {font-size: 50pt;}

header h2 {
	font-size: 22pt;
	letter-spacing: .3em;
}

h3 {
	font-size: 2.7em;
	border-bottom: 4px solid;
	letter-spacing: .1em;
}

h4 {
	font-size: 20pt;
	letter-spacing: .05em;
	font-weight: bolder;
}

h5 {
	font-size: 18pt;
	font-weight: lighter;
}

h6 {
	font-size: 17pt;
	font-weight: lighter;
}	