body::-webkit-scrollbar {
    width: .7em;
}
 
body::-webkit-scrollbar-track {
   background-color: #cdeaf7;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #62B6CB;
	border-radius: 5px;
  outline: 2px solid slategrey;
}


section::-webkit-scrollbar {
    width: .7em;
}
 
section::-webkit-scrollbar-track {
   background-color: rgba(205,234,247, .3);
}
 
section::-webkit-scrollbar-thumb {
  background-color: #1B4965;
	border-radius: 5px;
  outline: 1px solid slategrey;
	height: 50px;
}