* {
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

body {
	height: 100%;
	width:100%;
	position: absolute;
	top: 0;
	left:0;
}

section {
	height: 100%;
	width:100%;
	overflow: auto;
}

#contact {
	padding-top: 2px;
	border-bottom: 4px solid;
	width: 100%;
}

#contact ul {
	list-style-type: none;
	margin-left: 0;
	display: none;
	height: 100%;
	width: 100%;
}

#contact ul li {
	display: inline;
	height: 100%;
	width: auto;
	padding: 0px 10px;
	transition:background-color 1.5s;
	border-radius: 3px 3px 0px 0px;
}

#contact ul li:hover {
	background-color: #1B4965;
	transition: background-color 1.5s;
}

header {
	position: relative;
	top: 25%;
	width: 90%;
	height: auto;

}

header table {
	width: 100%;
	height: auto;
}

header .c1 {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 auto;
	display: inline-block;
}

header .c2 {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0 auto;
	display: inline-block;
}

header .c3 {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: 0 auto;
	display: inline-block;
}



header table .data {
	width: 10%;
}

#info {
	width: 70%;
	padding: 5px;
	position: relative;
	top: 80px;
	margin-bottom: 10px;
}

.content {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 3%;
	width: 50%;
	height: auto;
}

.subcat {
	border-bottom: 3px solid;
	width: 85%;
	margin: 0 auto;
}

.subcat * {
	text-align: left;
}

.subcat:last-of-type {
	border-bottom: 0px;
}

#education .subcat {
	position: relative;
	top: 50px;
}

#arrow {
	position: fixed;
	bottom:5%;
	height: 50px;
	width: 50px;
	opacity: .7;
}